@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#FBFEF9];
}

/* input {
  @apply shadow-none border-none outline-none focus:ring-0 ring-0  border-0 focus:border-0;
}
 */
.custom-top-shadow {
  box-shadow: 2px -4px 7px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 0;
}

.hide-scrollbar {
  scrollbar-width: none;
}

/* .slider {
  @apply !flex !items-center !gap-6 !justify-start !overflow-x-auto !mt-6 !z-0;
}
 */
.swiper-slide-active {
  @apply !flex !justify-center !mr-0;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #005dff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}


select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}



.link-item {
  position: relative;
  transition: border-bottom 0.3s;
}

.link-item:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: lightgrey;
  transition: width 0.3s;
}

.link-item:hover:before {
  width: 100%;
}